body {
  background-color: #080810;
  color: #EEEEEE;
  font-family: helvetica, arial, sans-serif;
  margin: 0;
  overflow-x: hidden;
  padding-bottom: 50px;
}

h1 {
  font-weight: 200;
  text-align: center;
  border-bottom: 1px solid #444444;
  margin: 0 0 20px 0;
  padding: 20px 0;
  line-height: 1;
}

h3 {
  line-height: 1;
  margin-top: 0;
}

a {
  color: #BBCCEE;
}

a:visited {
  color: #AABBDD;
}

ul.menu {
  list-style: none;
  padding: 0;
}

ul.menu > li {
  background-color: #222233;
  border: 1px solid #444444;
}

ul.menu > li:not(:first-child) {
  margin-top: 10px;
}

ul.menu > li > a {
  display: block;
  text-decoration: none;
  padding: 10px;
}

ul.menu > li > a:hover {
  background-color: #444455;
}

ul.menu > li > a[href=""] {
  background-color: #080810;
  color: #777777;
  cursor: default;
  pointer-events: none;
}

.gse-return {
  position: absolute;
  top: 0;
  margin: 25px;
  font-weight: 600;
  text-decoration: none;
}

.gse-inline-block {
  display: inline-block;
}

.gse-container {
  clear: both;
  display: flex;
  margin: 0 50px;
}

.gse-container--category {
  flex-flow: column;
  margin: 25px;
}

.gse-container--controls {
  background-color: #222233;
  border: 1px solid #444444;
  padding: 50px;
  display: inline-block;
  float: left;
  margin-right: 5px;
}

.gse-container--controls > button {
  display: block;
  margin: auto;
  width: 100%;
  min-width: 100px;
  height: 45px;
  background-color: #BBCCEE;
  font-weight: 900;
  border: 1px solid #FFFFFF;
}

.gse-container--controls > button:hover {
  background-color: #99AACC;
  cursor: pointer;
}

.gse-container--controls > button:not(:first-child) {
  margin-top: 15px;
}

#gse-container--showcase {
  background-color: #222233;
  border: 1px solid #444444;
  padding: 50px;
  float: left;
  width: 100%;
}

#gse-container--showcase > div {
  position: relative;
}

#gse-container--showcase > div > p {
  display: flex;
}

.gse-description {
  margin-top: 5px;
  padding: 50px;
  width: 100%;
  background-color: #222233;
  border: 1px solid #444444;
}

.gse-description > p {
}

.gse-description > p:first-child {
  margin-top: 0;
}

.gse-description > p:last-child {
  margin-bottom: 0;
}

.gse-spacer {
  display: block;
  width: 100%;
  background-color: #111122;
  text-align: center;
  height: 1200px;
  position: relative;
  z-index: 9;
}

#gse-example {
  font-family: monospace;
  margin-top: 5px;
  padding: 50px;
  width: 100%;
  background-color: #222233;
  border: 1px solid #444444;
}

#gse-example > h3 {
  /*font-family: helvetica, arial, sans-serif;*/
}
